<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test</title>
	<link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<canvas id="myCanvas" width="620" height="400"></canvas>

<script type="text/javascript" src="vendor/jquery-2.0.3.min.js"></script>
<script>
(function () {
	var canvas = document.getElementById('myCanvas')
	, context = canvas.getContext('2d')
	, textHeight = 10
	, textPadding = 6
	;

	context.font = textHeight + 'pt Monaco';
	context.textAlign = 'left';
	context.fillStyle = 'black';

	getArt(drawScene);

 	function getArt(cb) {
		$.get("/fortune").complete(function (response) {
			var message = response.responseJSON.message
			, messageLines = message.split("\n");

			messageLines.pop(); // delete last newline
			cb(messageLines);
		});
	}

	function drawScene(messageLines) {
		var offset = 0
		, l = 0
		;

		while (l < messageLines.length) {
			offset = (textHeight + textPadding) * (l + 1);
			context.fillText(messageLines[l], 0, offset);
			l++;
		}
	}

}());
</script>
</body>
</html>
